<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InciTechSolutions.Properties.Settings.InciTechDBConnectionString"
            connectionString="Data Source=incitechserver.database.windows.net;Initial Catalog=InciTechDB;Persist Security Info=True;User ID=incitech;Password=Solutions2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>